
<div class="box">
    <app-home-dashboard></app-home-dashboard>

    <!-- <h2>Welcome </h2>  -->
    <h2 class="hi">TAKE-OFF AIRLINES</h2>
    <div class="hi1">The Sky is waiting for you!</div>
    
    <h3 class="hi2">With TAKE-OFF, you can easily book any ticket you need to travel safely</h3>
    <h4 class="hii2">Thanks to our detailed system of searching and booking airline tickets</h4>
    <div class="card" style="width: 18rem;">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
          <h3 class="card-title">Why choose TAKE-OFF Airlines?</h3>
          <p class="card-text">We provide the cheapest flights to any airport anywhere in the world and we'll help you find the best airfare deals available..</p>
          <a href="#" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>
    

<router-outlet></router-outlet>
